logo/
__pycache__/
Hard_found_delicacy
check_list
taken_out.py 
Andrea_could_do.txt
src/out_1.08_1AA/
1.08_1AA.data
src/input_script.py

src/fking-old-v/
src/input_script_symm.py
src/old_symmetry_inTB_backup.py
src/out_1.08_0fold_no18
src/1.08_0fold_no18.data
src/input_script_symm.py
